# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

** Objectives:

- Data Languages
- Data Libraries
- Data Tools
- Arithmetic Expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow
4. Seaborn
5. SciPy

| Data Science Tools |
| ------------------ |
| Apache Hadoop |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutees to hours by diving by 60.

In [2]:
minutes = 200
hours = minutes / 60
print(hours) # output: 2.0

3.3333333333333335

## Author
Jason Cook